
.DS_Store
*.pyc
*.egg-info
server/localdev-config.json
credentials.json
localdev-config.json
server/localdev-config.json
.env
server/video_uploads/*.mp4
server/audio_extractions/*.mp3
server/output_transcripts/*.txt
frontend/node_modules
frontend/dist
__pycache__